<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>612731403892-te9tc5qcrjgn2trvun26rfqloesnhkms.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.612731403892-te9tc5qcrjgn2trvun26rfqloesnhkms</string>
	<key>API_KEY</key>
	<string>AIzaSyAaLmu39-ollxlo4fpFk8GcQoidKf-JJHM</string>
	<key>GCM_SENDER_ID</key>
	<string>612731403892</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterfire</string>
	<key>PROJECT_ID</key>
	<string>flutterfire-6f008</string>
	<key>STORAGE_BUCKET</key>
	<string>flutterfire-6f008.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:612731403892:ios:3233fbc73cc29ad7c89b21</string>
</dict>
</plist>